# Gamerules
public net.minecraft.world.level.GameRules$IntegerValue m_46312_(I)Lnet/minecraft/world/level/GameRules$Type; #create

public net.minecraft.world.level.GameRules$BooleanValue m_46250_(Z)Lnet/minecraft/world/level/GameRules$Type; #create

# Render
public net.minecraft.client.renderer.RenderType$OutlineProperty

# Ai Goals
public net.minecraft.world.entity.monster.Phantom$AttackPhase

# Forced the level to be public to make easier to get a boot from the game
public net.minecraft.world.entity.Entity f_19853_

# Rebuild Task
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask

public net.minecraft.world.damagesource.CombatTracker f_19282_ # takingDamage

public net.minecraft.world.level.pathfinder.WalkNodeEvaluator m_77624_(Lnet/minecraft/world/level/pathfinder/Node;)Z # canReachWithoutCollision
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator m_77634_(Lnet/minecraft/world/phys/AABB;)Z # hasCollisions

public net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations <init>(Ljava/util/List;Lnet/minecraft/resources/ResourceLocation;Ljava/util/Map;)V # PalettedPermutations